#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    trackball_spi: trackball_spi {
        compatible = "spi-gpio";
        status = "okay";
        #address-cells = <1>;
        #size-cells = <0>;
        sck-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
        mosi-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
        miso-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
        cs-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;

        trackball: trackball@0 {
            status = "okay";
            compatible = "pixart,pmw3610";
            reg = <0>;
            spi-max-frequency = <2000000>;
            duplex = <2048>;
            motion-gpios = <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            zephyr,axis-x = <INPUT_REL_X>;
            zephyr,axis-y = <INPUT_REL_Y>;
        };
    };
};

/ {
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
    };
};
